<h1>our recommendations </h1>

<h2> "Raul, Sami, Alejandro"</h2>

<ol>
<li><%= link_to 'wings n things','/wingsnthings' %> </li>
<li>daves hot chicken</li>
<li>popeyes</li>
</ol>

<ol>
<li>Running</li>
<li>Working out</li>
<li>Coding</li>
</ol>

<ol>
<li>Moonlight beach</li>
<li>La Jolla beach</li>
<li>Solana beach</li>
</ol>
