<h1>Fancy Recommendations</h1>
<h3>Explained by Alan and Matt</h3>

<h2>Top Ten fave Activities</h2>
<ul>
    <%=link_to 'sleeping', '/sleeping'%>
    <br/>
    <%=link_to 'Work_out', '/Work_out'%>
    <br/>
    <%=link_to 'football', '/football'%> 
    <li>link_to Drinking</li> 
    <li>Brisk Walking</li>
    <li>Knife Fighting</li>
    <li>UFC</li>
    <li>Painting</li>
    <li>Yoga</li>
    <li>Extreme Scootering</li>
</ul>
